# SQLite
*SQLite* ist eine C-Bibliothek, die eine kompakte festplattenbasierte Datenbank bereitstellt, für die kein separater Serverprozess erforderlich ist. Zugriff auf die Datenbank (DB) wird mithilfe einer Variante der SQL-Abfragesprache ermöglicht. Einige Anwendungen können *SQLite* für die interne Datenspeicherung verwenden. Es ist auch möglich einen Prototyp mit *SQLite* zu erstellen und den Code dann in eine größere Datenbank wie PostgreSQL, MySQL oder Oracle zu portieren.

* [*SQLite* Allgemein](https://sqlite.org/index.html)
* [*SQLite* Query Lang Doku](https://sqlite.org/lang.html)

Für die ersten Schritte mit *SQLite* verwenden wir die Chinook DB. Chinook ist eine Beispieldatenbank, die für eine Vielzahl von RDBMS (SQLite, Oracle, MySQL usw). verfügbar ist. Sie kann durch Ausführen eines einzelnen SQL-Skripts erstellt werden.

Das Chinook-Datenmodell stellt einen digitalen Musik Laden dar, der Tabellen für Künstler, Alben, Medientracks, Rechnungen und Kunden enthält.

![chinook_db_schema.png](doc/chinook_db_schema.png)

Der Code für die Chinook-DB ist [hier](https://github.com/lerocha/chinook-database).

*SQLite* ist in Python integriert. Damit die Chinook-DB verwendet werden kann, muss die *SQLite* Library importiert werden:

In [ ]:
import sqlite3

Alle Interaktionen mit der DB benötigen eine Verbindung mit der DB. Diese wird wie folgt erstell:

In [ ]:
db_connection = sqlite3.connect("file:Chinook_Sqlite.sqlite?mode=ro", uri=True)

Um Abfragen auszuführen, muss über die DB-Verbindung ein Cursor erstellt werden. Der Cursor ermöglicht es dann die Resultate aus DB-Abfragen in Python zu verarbeiten.

In [ ]:
cursor = db_connection.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table'")
print(cursor.fetchall())

## Übungen
Erstelle ein paar einfache SQL-Abfragen, zum Beispiel mit den Tabellen **Album** und **Artist**:

![Album_Artist.png](doc/Album_Artist.png)

Mehr Details zu einer Tabelle (Spalten, Datentypen) können mit dem Query `PRAGMA table_info(<table name>)` geholt werden:

In [ ]:
cursor = db_connection.cursor()
cursor.execute("PRAGMA table_info(Album)")
info = cursor.fetchall()
info

Im Gegensatz zur Python-Syntax sind die SQL-Queries Case Insensitiv!

In [ ]:
cursor = db_connection.cursor()
upper_case_qry = "SELECT * FROM ALBUM LIMIT 10"
for row in cursor.execute(upper_case_qry):
    print(row)

In [ ]:
cursor = db_connection.cursor()
lower_case_query = "select * from album limit 10"
for row in cursor.execute(lower_case_query):
    print(row)

In [ ]:
# TODO: Query 1

In [ ]:
# TODO: Query 2

In [ ]:
# TODO: Query 3

## Integration in Pandas
SQLite Datenbanken können auch aus Pandas aus verwendet werden. Tabellen und Ergebnisse aus Queries können mit `read_sql_query()` in Pandas Dataframes geladen werden (siehe [Doku](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_sql_query.html)).

```python

import pandas as pd
df_from_query = pd.read_sql_query(<sql query>, <db connection>)
```

In [ ]:
import pandas as pd
df = pd.read_sql_query("SELECT * FROM Artist WHERE Name LIKE 'Al%'", db_connection)
display(df)

## Cleanup
Am Ende von Scripts kann die DB Connection mit `close()` geschlossen werden.

In [ ]:
db_connection.close()